body{
}
.principal{
    background: #a0bbc3;
    padding: 30px;
    padding: 5px;
}
h1{
    text-align: center;
@@ -22,7 +22,7 @@ h1{
p{
    color: rgb(47, 2, 36);
    font-size: 20px;
    text-align: justify;
    text-align: center;

}
#missao{
@@ -49,7 +49,14 @@ ul{
    width: 20%;
    margin-right: 15%;
}

.pilares{
    width: 30%;

}
#move{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}